/* ================================
    Common styles or Utilities
=================================== */
* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  background: #ff900e;
  border-radius: 8px;
  height: 64px;
  padding: 21px 24px 20px 25px;
  border: 0;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 50px;
  cursor: pointer;
}

/* ======================
    All section styles
========================= */

/* ------------------------
    header nav bar styles
--------------------------- */
.header {
  background-color: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 240px 116px 228px;
}
.nav-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  cursor: pointer;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
  cursor: pointer;
}
nav li .fa-bars {
  display: none;
}

/* ------------------------
    header banner styles
--------------------------- */
.banner {
  text-align: center;
}
.banner-title {
  font-weight: 700;
  font-size: 64px;
  color: #131313;
}
.banner-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin: 32px;
}
.img-width img {
  margin-bottom: 45px;
}
/* ------------------------
    main section styles
--------------------------- */

/* ------------------------
    features section styles
--------------------------- */
.features {
  background: #ffffff;
}
.features-container {
  border-radius: 10px;
  padding: 85px 301px 130px;
}
.features-container {
  display: flex;
  column-gap: 73px;
  align-items: center;
}
.feature-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.feature-info {
  text-align: left;
}
.feature-title {
  font-weight: 500;
  font-size: 45px;
  color: #727272;
}
.feature-title-color1 {
  font-weight: 700;
  color: #131313;
}
.feature-title-color2 {
  font-weight: 700;
  color: #ff900e;
}
.feature-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin: 24px 0 32px 0;
}

/* ------------------------
    features section styles
--------------------------- */

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 240px 130px;
  column-gap: 150px;
}
.about-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-left: 21px;
}
.about-title hr {
  background: #ff900e;
  position: absolute;
  width: 5px;
  height: 100px;
  border: none;
  left: 200px;
  top: 2355px;
}
.about-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin: 24px 0 30px 0;
}
.about-small-container {
  width: 586px;
  height: 120px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 30px;
}
.about-sub-title {
  font-weight: 600;
  font-size: 20px;
  color: #131313;
}
.about-sub-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-top: 10px;
}

.btn-about {
  background: #ff900e;
  border-radius: 8px;
  padding: 43px;
  border: 0;
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
  height: 200px;
  text-align: center;
  position: relative;
  left: -90px;
  top: -120px;
}
.btn-about-size {
  font-weight: 500;
  font-size: 25px;
  color: #ffffff;
}
/* ==================
    Media Queries
===================== */

/* ------------------
    Mobile Devices
--------------------- */
@media only screen and (max-width: 576px) {
  /* Common styles or Utilities */
  body {
    margin: 0%;
  }
  /* header nav bar styles */
  nav {
    align-items: center;
    padding: 10px;
    justify-content: space-around;
  }
  .nav-title {
    font-weight: 700;
    font-size: 15px;
  }
  .bars-icon a {
    text-decoration: none;
  }
  .dropdown > li {
    font-weight: 400;
    font-size: 14px;
  }
  nav li {
    margin: 0;
    padding: 2px;
  }

  /* Nested nav menu */

  nav ul {
    display: none;
    position: absolute;
    flex-direction: column;
    padding: 0;
  }

  nav li:hover > .dropdown {
    display: block;
  }

  nav li .fa-bars {
    display: block;
  }
  /* header banner styles */
  .banner-title {
    font-size: 34px;
    margin-top: 80px;
  }
  .img-width {
    padding: 0 32px 32px;
  }
  .img-width img {
    width: 100%;
    margin: 0%;
  }

  /* ------------------------
    features section styles
--------------------------- */
  .features-container {
    flex-direction: column;
    padding: 17px;
  }
  .feature-images {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-info {
    text-align: center;
  }

  /* ------------------------
    features section styles
--------------------------- */
  .about-container {
    flex-direction: column;
    text-align: center;
    padding: 0%;
  }
  .about-info {
    padding: 10px;
  }
  .about-title > hr {
    display: none;
  }
  .about-small-container {
    width: 100%;
    height: 100%;
    padding: 0%;
  }
  .about-profile img {
    width: 100%;
    margin: 0;
  }
  .btn-about {
    margin-top: 10px;
    border-radius: 8px;
    padding: 10px;
    font-weight: 500;
    font-size: 25px;
    height: 70px;
    position: static;
    text-align: center;
  }
  .btn-about-size {
    font-weight: 400;
    font-size: 15px;
  }
}
